@model JWTAppUI.Models.CategoryCreateRequestModel
@{
    Layout = "_Layout";
}

<form asp-action="Create" asp-controller="Category" method="post">
    <div class="mb-3">
        <label>Kategori Adı : </label>
        <input type="text" asp-for="@Model.Definition" class="form-control">
    </div>
     <div class="mb-3">
       <button type="submit" class="btn btn-info">Kaydet</button>
    </div>
</form>