@model JWTAppUI.Models.CategoryUpdateRequestModel
@{

    Layout = "_Layout";
}

<form asp-action="Update" asp-controller="Category" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="mb-3">
        <label>Kategori Adı:</label>
        <input type="text" asp-for="@Model.Definition" class="form-control" value="@Model.Definition" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-info">Güncelle</button>
    </div>
</form>